.About{
    width: 100%;
    height: auto;
        .SectionAboutOne {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 3rem;
            padding: 1rem;
            & .SectionAboutOne-h3 {
                width: 100%;
                color:$color8;
                font-weight: 100;
                padding: 0.5rem;
                margin-top: 3rem;
                font-size: 16px;
            }

            & .SectionAboutOne-info--one,.SectionAboutOne-info--two{
                padding: 0.5rem;
            }

            & .SectionAboutOne-h4 {
                margin-bottom: 1rem;
                font-size: 32px;
                font-weight: bolder;
                
            }

            & .SectionAboutOne-p {
                margin-bottom: 1rem;
                font-size: 20px;
            }
            ul {
                padding-left: 1.5rem;
            }
        }

        .History {
            width: 100%;
            background-color: $color7;
            color: $color-withe;
            height: auto;
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            .HistoryOne {
                padding: 1rem;
                
                .HistoryOne-h3 {
                    color: $color9;
                    font-weight: 100;
                    font-size: 16px;
                    margin: 2rem 0;
                }
                .HistoryOne-h4 {
                    font-size: 40px;
                    margin-bottom: 2rem;
                }
                .HistoryOne-p {
                    font-size: 20px;
                    margin-bottom: 2rem;
                }   
            }

            .Historytwo {
                border: none;
                border-top: 1px solid #fff;
                width: 100%;
                padding: 1rem;
                .Historytwo-h4 {
                    font-size: 40px;
                    margin:  2rem 0;
                }
                .Historytwo-p {    font-size: 20px;
                    margin-bottom: 2rem;}
            }
            
        }

        .OurTeam {
            width: 100%;
            color: $color-withe;
            height: auto;
            text-align: left;
            background-color: $color7;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .OurTeam-title {
                width: 100%;
                max-width: 768px;
                .OurTeam-h3 {
                    color: $color9;
                    font-weight: 100;
                    font-size: 16px;
                    margin-bottom: 0.5rem;
                    margin-top: 2rem;
                }
                .OurTeam-h4 {
                    font-size: 32px;
                    margin-bottom: 3rem;
                }
            }

            .OurTeam-Cards {
                width: 100%;
                position: relative;
                overflow: hidden;
                max-width: 768px;
                .container-cards {
                    display: flex;
                    flex-wrap: nowrap;
                    transition: all 0.3s ease-in-out;
                    width: 100%;
                    max-width: 768px;
                    .card {
                        flex-grow: 0;
                        flex-shrink: 0;
                        width: 100%;
                        img {
                            border: 1px solid rgb(58, 60, 86);
                            margin-bottom: 1rem;
                            width: 100%;
                        }
                        .card-info {
                            margin-bottom: 1rem;
                            h3 {
                                margin-bottom: 0.5rem;
                            }
                            h5 {
                            }
                        }
                        
                    }
                }

                .isActiveCard {
                    transform: translate(-290px);
                }
                
                .control-cards {
                    width: 100%;
                    display: flex;
                    justify-content:space-evenly;
                    margin-bottom: 3rem;
                    .control{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 1px solid $color9;
                    }
                    .isActive {
                        background-color:$color9;
                    }
                } 
            }

        }

        .testimonials{
            width: 100%;
            background-color: $color7;
            color: $color-withe;
            height: auto;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
                .testimonials-title{
                    text-align: center;
                    width: 100%;
                    max-width: 768;
                    .testimonials-h3{
                        color: $color9;
                        font-weight: 100;
                        font-size: 16px;
                        margin-bottom: 1rem;
                    }
                    .testimonials-h4{
                        font-size: 32px;
                        margin-bottom: 2rem;
                    }
                }

                .testimonials-container{
                    background-color: #ffff;
                    color: #000;
                    width: 100%;
                    max-width: 768px;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    .testimonials-stars{
                        width: 100%;
                        height: 3px;
                        margin-bottom: 1rem;
                        padding: 1rem;
                        img{
                            max-width: 100%;
                        }
                    }
                    .testimonials-text{
                        padding: 1rem;
                    }
                    .testimonials-item{
                        display: flex;
                        justify-content:flex-start;
                        align-items: center;
                        padding: 1rem;
                    }
                    .testimonials-img{
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        background-image:url('../../media/person2.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .testimonials-name{
                        margin-left: 1rem;
                        h5{
                            margin-bottom: 0.8rem;
                            font-size: 14px;
                        }
                        h6{
                            font-size: 12px;
                            font-weight: 200;
                        }
                    }
                }

                .testimonials-controls{
                   
                    width: 300px;
                    display: flex;
                    justify-content:space-evenly;
                    margin-bottom: 3rem;
                    .control{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 1px solid $color9;
                    } 
                    .isActive{
                        background-color:$color9;
                    }
                }

        }

        .questions{
            width: 100%;
            background-color: $color7;
            color: $color-withe;
            height: auto;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items:center;
            .questions-title{
                width: 100%;
                max-width: 768px;
                .questions-h3{
                        color: $color9;
                        font-weight: 100;
                        font-size: 16px;
                        margin-bottom: 1rem;
                }
                .questions-h4{
                    font-size: 32px;
                    margin-bottom: 2rem;
                }
            }
            
            .questions-acordeon{
                width: 100%;
                max-width: 768px;
                margin-bottom: 3rem;
                .questions-item{
                    width: 100%;
                    border: 0.5px solid #fff3;
                    .questions-itemTitle{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                        background-color: $color7;
                        color: #fff;
                        h5{
                            font-size: 18px;
                        }
                        .arrow{
                            width: 25px;
                            transform:rotate(180deg);
                            img{
                                max-width: 100%;
                            }
                        }
                    }
                    .questions-itemContainer{
                        background-color: #ffff;
                        padding: 1rem;
                        height: 0;
                        opacity: 0;
                        visibility: hidden;
                        p{
                            color: #000;
                        }
                    }
                }

                .question-isActive{
                    
                    .questions-itemTitle{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                        background-color: #ffff;
                        color: #000;
                        transition: all 0.3s ease-in-out;
                        h5{
                            font-size: 18px;
                        }
                        .arrow{
                            width: 25px;
                            img{
                                max-width: 100%;
                            }
                        }
                    }

                    .questions-itemContainer{
                        background-color: #ffff;
                        padding: 1rem;
                        transition: all 0.3s ease-in-out;
                        p{
                            color: #000;
                        }
                    }

                }
            }

        }

        .partners{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            background-color: $color7;
            color: $color-withe;
            height: auto;
            padding: 1rem;
            .partners-logo{
                padding: 1rem;
                img{
                    max-width: 100%;
                }
            }
        }
}

@include breakpoint('medium-simple') {
    .About{

        .SectionAboutOne {
            justify-content: center;
            
            & .SectionAboutOne-h3 {
                width: 80%;
            }

            & .SectionAboutOne-info--one,.SectionAboutOne-info--two{
                width: 80%;
            }

        }

        .History {
            justify-content: center;
            .HistoryOne {
                width: 80%;
            }

            .Historytwo {
                width: 80%;
            }
            
        }

      
    }

}
@include breakpoint('medium') {
  
}
@include breakpoint('medium-tablet') {
        
}
@include breakpoint('medium-high') {}
@include breakpoint('large') {}
@include breakpoint('xlarge') {}
@include breakpoint('homepage-max') {}