Header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 241, 241);
    background-repeat: no-repeat;
    overflow:hidden;
    background-image: url('../../media/Rectangle.png');
    background-position: 50px;
    background-position-x: 250px;
    background-position-y: 0px;
.navegacion{
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 100;
    
    img{
        width: 50px;
    }
    nav{
        
        ul{
            display: none;
        }
        .menu{
            
            img{
                width: 30px;
            }
        }

    }
}
.slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 100;
    .texto{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
        padding: 0.5rem;
        
    }
    .img-slide{ 
        transform: scaleX(-1);
        width: 100%;
        height: 100%;
        overflow: visible;
        img{
            width: 410px;
            max-height: auto;
            position: absolute;
            z-index: 1;
            top: 0px;
            right: -10px;
            
        }
    }
}

.figura{
    position: absolute;
    z-index: 0;
    top: -50px;
    left: 215px;
    display: none;
}
.cuadricula{
    position: absolute;
    z-index: 0;
    bottom: 100px;
    left: 100px;
    img{
        width: 200px;
    }
}
.flecha-header{
    position: absolute;
    z-index: 0;
    bottom: 220px;
    left: 10px;
    img{
        width: 70px;
    }
}

}
@include breakpoint('medium') {
    Header{
          
    .navegacion{
       
        
        img{
           
        }
        nav{
            width: 50%;
            ul{
                display: flex;
                
                justify-content:space-between;
                width: 100%;
                li{
                    text-decoration: none;
                    list-style-type: none;
                    
                    a{
                        text-decoration: none;
                        color: #ffff;
                        cursor: pointer;
                    }
                }
            }
            .menu{
                display: none;
                img{
                    
                }
            }
    
        }
    }
    .slide{
        align-items: flex-start;
        
        .texto{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 900px;
            padding: 0.5rem;
        }
        .img-slide{ 
            transform: scaleX(-1);
            width: 100%;
            height: 100%;
            overflow: visible;
            img{
                width: 500px;
                z-index: 1;
                top: -305px;
                right: 250px;
                
            }
        }
    }
    
    .figura{
     
    }
    .cuadricula{
       
        bottom: 220px;
        left: 360px;
        img{
           
        }
    }
    .flecha-header{
        bottom: 90px;
        img{
            
        }
    }
    
    }
}


@include breakpoint('medium-high') {
    Header{
          
        .navegacion{
           
            
            img{
               
            }
            nav{
                
                ul{
                    
                    li{
                    
                        a{
                         
                        }
                    }
                }
                .menu{
                   
                    img{
                        
                    }
                }
        
            }
        }
        .slide{
           
            
            .texto{
        
            }
            .img-slide{ 
                transform: scaleX(-1);
                width: 100%;
                height: 100%;
                overflow: visible;
                img{
                    top: -305px;
                    right: 450px;
                    
                }
            }
        }
        
        .figura{
         
        }
        .cuadricula{
            bottom: 220px;
            left: 500px;
            img{
               
            }
        }
        .flecha-header{
            left: 80px;
            img{
                
            }
        }
        
        }
}

@include breakpoint('large') {
    Header{
        background-position: 50px;
        background-position-x: 600px;
        background-position-y: -100px;
        .navegacion{
           
            
            img{
               
            }
            nav{
                
                ul{
                    
                    li{
                    
                        a{
                         
                        }
                    }
                }
                .menu{
                   
                    img{
                        
                    }
                }
        
            }
        }
        .slide{
           
            
            .texto{
        
            }
            .img-slide{ 
                transform: scaleX(-1);
                width: 100%;
                height: 100%;
                overflow: visible;
                img{
                    width: 600px;
                    top: -380px;
                    right: 580px;
                    
                }
            }
        }
        
        .figura{
         
        }
        .cuadricula{
            bottom: 220px;
            left: 600px;
            img{
               
            }
        }
        .flecha-header{
            left: 80px;
            img{
                
            }
        }
        
        }
}

@include breakpoint('xlarge') {
    header{
        background-position: 50px;
        background-position-x: 700px;
        background-position-y: -100px;
        
    }
}


@include breakpoint('homepage-max') {
    header{
        background-position: 50px;
        background-position-x: 1100px;
        background-position-y: -100px;
        .navegacion{
          
            
            img{
                
            }
            nav{
                width: 35%;
                ul{
            
                }
                .menu{
                    
                    img{
                        
                    }
                }
        
            }
        }
        .slide{
         
            .texto{
            
            }
            .img-slide{ 
                transform: scaleX(-1);
                width: 100%;
                height: 100%;
                overflow: visible;
                img{
                    width: 800px;
                    top: -380px;
                    right: 800px;
                    
                }
            }
        }
        
        .figura{
            position: absolute;
            z-index: 0;
            top: -50px;
            left: 215px;
            display: none;
        }
        .cuadricula{
            position: absolute;
            z-index: 0;
            bottom: 100px;
            left: 800px;
            img{
                width: 400px;
            }
        }
        .flecha-header{
            position: absolute;
            z-index: 0;
            bottom: 220px;
            left: 300px;
            img{
                width: 100px;
            }
        }
        
        }
       
    }
