/*Botones*/
@mixin btn($color-background,$color-border,$color-font){
        cursor: pointer; 
        color: $color-font;
        background-color: $color-background;
        border-radius: 20px;
        border: 2px solid $color-border;
        width:130px ;
        text-align: center;
        padding: 0.5rem;
        transition: all 0.3s ease;
}

.btn-dark{
    @include btn($color1,$color1,$color-withe);
    &:hover {
        @include btn($color-withe,$color1,$color1);
      }
    
}

.btn-light{
    @include btn($color-withe,$color1,$color1);
    &:hover {
        @include btn($color1,$color1,$color-withe);
      }
    
}

.btn-yellow{
  @include btn(#F8C481,#F8C481,$color-withe);
  &:hover {
      @include btn(#da953a,#da953a,$color-withe);
    }
  
}
/*Mixin BreakPoints*/
@mixin breakpoint($breakpoint) {
    @if $breakpoint == 'medium-simple' {
      @media (min-width: $bp-new-medium-simple) {
        @content;
      
      }
    }
    @else if $breakpoint == 'medium' {
      @media (min-width: $bp-new-medium) {
        @content;
        /*768px*/
      }
    }
    @else if $breakpoint == 'medium-tablet' {
      @media (min-width: $bp-new-medium-tablet) {
        @content;
        /*880px*/
      }
    }
    @else if $breakpoint == 'medium-high' {
      @media (min-width: $bp-new-medium-high) {
        @content;
        /*1024px*/
      }
    }
    @else if $breakpoint == 'large' {
      @media (min-width: $bp-new-large) {
        @content;
        /*1280px*/
      }
    }
    @else if $breakpoint == 'xlarge' {
      @media (min-width: $bp-new-xlarge) {
        @content;
        /*1440px*/
      }
    }
      @else if $breakpoint == 'homepage-max' {
        @media (min-width: $bp-new-homepage-max) {
          @content;
          /*2000px*/
        }
      }
    
  }











