$color1:rgb(34,44,92);
$color2:rgb(20,93,155);
$color3:rgb(121,126,150);
$color4:rgb(165,167,179);
$color5:rgb(123,77,154);
$color6:rgb(181,85,142);
$color-title:#DEA04F;
$color-withe:#fff;

/* Medias Querys*/
$bp-new-small: 320px !default;
$bp-new-medium-simple: 640px !default;
$bp-new-medium: 768px !default;
$bp-new-medium-tablet: 880px !default;
$bp-new-medium-high: 1024px !default;
$bp-new-large: 1280px !default;
$bp-new-xlarge: 1440px !default;
$bp-new-homepage-max: 1880px !default;


