nav {
        padding: 1rem;
    ul {
        display: none;
    }
    .menu{
        
        img{
            width: 30px;
        }
    }
}

@include breakpoint('medium') {
    nav{
        width: 500px;
        ul{
            display: flex;
            align-items:flex-start;
            justify-content: flex-end;
            width: 100%;
            li{
                text-decoration: none;
                list-style-type: none;
                margin: 0 15px;
                span {
                    cursor: pointer;
                }
                a {
                    text-decoration: none;
                    color: #ffff;
                    font-weight: 800;
                    cursor: pointer;
                }
                a:hover {
                    color:#DEA04F;
                }
            }
        }
        .menu{
            display: none;
            img{
                
            }
        }

    }
}


@include breakpoint('medium-tablet') {
    nav{
        width: 500px;
    }
}