.testimonials{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .tile-testimonials{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: flex-start;
        .img-customers{
            img{
                max-width: 100%;
            }
        }
    }
     
  .cards-testimonials{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 320px;
      overflow: hidden;
      .content-cards{
            display: flex;
            flex-wrap: nowrap;
            width: 300px;
            padding: 0.5rem;
            padding-top: 1rem;
            gap: 30px;
            transition: all 0.3s ease-in-out;
            .card-info{
                    /*transform: translate(-244px); 0 244 488 px*/
                    width: 100%;
                    background-color:rgb(185, 185, 185);
                    padding: 0.5rem;
                    flex-grow: 0;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    background-color: #fff;
                    border-radius: 1rem;
                    -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.19); 
                    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.19);
                    padding:2rem;
                    height: 450px;
                    .card-img{
                        border: 10px solid  rgb(241, 240, 240);
                        border-radius: 10px;
                        width: 140px;
                        height: 145px;
                        background-repeat: no-repeat;
                        background-position: center;
                        img{
                            max-width: 100%;
                        }
                    }
                }
         }
        .hiden-card{
           display: none;
          }  
        .cards-controls{
            
            width: 100px;
            height: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div{
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: rgb(199, 196, 196);
            }
            .active{
                border: 2px solid #000;
            }
        }
  }

}

/*Tablets*/
@include breakpoint(medium) {
    .testimonials{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        .tile-testimonials{
            width: 50%;
            height: 450px;
            padding: 2rem;
            p{
                width: 400px;
            }
        }
        .cards-testimonials{
            
        }
    }
}