.Testimonials {
    width: 100%;
    max-width: 1500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    position: relative;
    justify-content: space-evenly;
    gap: 50px;
}
    
.Testimonials-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
     
.Testimonials-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 320px;
      overflow: hidden;
    }
      
.Testimonials-card {
            display: flex;
            flex-wrap: nowrap;
            width: 300px;
            padding: 0.5rem;
            padding-top: 1rem;
            gap: 30px;
            transition: all 0.3s ease-in-out;
        }
            
.Testimonials-cardInfo {
                    /*transform: translate(-244px); 0 244 488 px*/
                    width: 100%;
                    background-color:rgb(185, 185, 185);
                    padding: 0.5rem;
                    flex-grow: 0;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    background-color: #fff;
                    border-radius: 1rem;
                    -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.19); 
                    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.19);
                    padding:2rem;
                    height: 450px;
                }
                
.Testimonials-cardImg {
                        border: 10px solid  rgb(241, 240, 240);
                        border-radius: 10px;
                        width: 140px;
                        height: 145px;
                        background-repeat: no-repeat;
                        background-position: center;
                        img{
                            max-width: 100%;
                        }
            }
                
         
        
    .Testimonials-cardsControls { 
            width: 100px;
            height: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div{
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: rgb(199, 196, 196);
            }
           
        }

        .Testimonials-isActive {
            border: 2px solid #000;
        }
  
  .Testimonials-oval{
    position:absolute;
    z-index: -2;
    bottom: -10px;
    width: 250px;
    img{
        max-width: 100%;
    }
  }




@include breakpoint('medium-simple') {
            
    .Testimonials-title {
        width: 100%;
        gap: 10px;
    }
      
        .Testimonials-oval {
            bottom: 10px;
            right: 120px;
            width: 400px;
          }
    
    
}

/*Tablets*/
@include breakpoint(medium) {

        .Testimonials-title {
            width: 100%;
            gap: 10px;
        }

        .Testimonials-oval {
            right: 185px;
          }
    
    

}

@include breakpoint('medium-tablet') {

    .Testimonials-oval {
        bottom: 0px;
        right: 240px;
        width: 400px;
      }
    
}
@include breakpoint('medium-high') {

    .Testimonials-title {
        width: 400px;
        gap: 10px;
    }
    
    .Testimonials-oval {
        right: 50px;
      }
    
    
}
@include breakpoint('large') {
    .Testimonials-oval {
        right: 130px;
      }
}

@include breakpoint('xlarge') {
    .Testimonials-oval {
        right: 150px;
      }
}
@include breakpoint('homepage-max') {}